* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .phone {
  display: none;
}
header .phone input {
  display: none;
}
header .phone .burger {
  background-color: rgb(255, 113, 67);
}
header .phone .burger .logoo {
  width: 10%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}
header nav ul li a:hover {
  opacity: 1;
}
header nav ul li a:active {
  opacity: 0.7;
}
header nav button {
  padding: 19px 59px;
  background-color: rgb(255, 113, 67);
  border: none;
  border-radius: 10px;
  color: white;
}
header nav button:hover {
  transform: scale(1.03);
  transition: 0.4s;
}
header nav button:active {
  transform: scale(0.9);
  transition: 0.4s;
}
header main {
  padding-top: 110px;
  display: flex;
  align-items: center;
}
header main .main-img {
  width: 50%;
}
header main .main-title h1 {
  width: 50%;
  font-size: 80px;
  font-weight: 700;
}
header main .main-title p {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 60px;
  opacity: 0.6;
}
header main .main-title button {
  padding: 19px 59px;
  background-color: rgb(84, 84, 212);
  border: none;
  border-radius: 10px;
  color: white;
}
header main .main-title button:hover {
  transform: scale(1.03);
  transition: 0.4s;
}
header main .main-title button:active {
  transform: scale(0.9);
  transition: 0.4s;
}
header .logos {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
header .logos img:hover {
  transform: scale(1.03);
  transition: 0.1s;
}
header .logos img:active {
  transform: scale(0.9);
  transition: 0.1s;
}

@media (max-width: 950px) {
  .container {
    padding: 0 !important;
  }
  header {
    padding: 0px 0px;
  }
  header main .main-img {
    width: 70%;
    margin: 0 auto;
  }
  .logos {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .logos img:hover {
    transform: scale(1.03);
    transition: 0.1s;
  }
  .logos img:active {
    transform: scale(0.9);
    transition: 0.1s;
  }
}
@media (max-width: 888px) {
  .container {
    padding: 0;
  }
  .navv {
    display: none;
  }
  #checkbox[type=checkbox]:checked + .sidebar {
    transform: translatey(0);
  }
  header main {
    flex-wrap: wrap;
  }
  header main .main-title {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  header main .main-title h1 {
    text-align: center;
    width: 80%;
  }
  header main .main-title p {
    width: 80%;
  }
  header .phone {
    display: block;
    background-color: rgb(41, 44, 50);
    display: block;
  }
  header .phone .burger {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
  header .phone .burger label {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
  header .phone .burger label .logoo {
    width: 50%;
  }
  header .phone #checkbox {
    display: none;
  }
  header .phone .labbel {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
  header .phone .uls {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header .phone .uls li {
    list-style: none;
  }
  header .phone .uls li a {
    text-decoration: none;
    color: white;
  }
  header .phone .sidebar {
    padding-top: 30px;
    padding-bottom: 50px;
    transform: translatey(-200%);
    width: 100vw;
    position: absolute;
    top: 0;
    transition: 0.5s;
    background-color: rgb(84, 84, 212);
  }
}
@media (max-width: 888px) {
  header .logos {
    width: 100%;
    padding: 10%;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  header main .main-title h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
  }
  header main .main-title p {
    width: 100%;
  }
}
.container {
  max-width: 1990px;
  margin: 0 auto;
  padding: 30px 150px;
}/*# sourceMappingURL=main.css.map */