* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "variable";
@import "header";
@import "section";
@import "footer";

.container {
  max-width: 1990px;
  margin: 0 auto;
  padding: 0;
}
